{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="min-height-300 bg-primary position-absolute w-100"></div>

  {% include "includes/sidenav.html" %}

  <main class="main-content position-relative border-radius-lg ">

    {% include "includes/navigation.html" %}

    <div class="container-fluid py-4">

      <div class="row">
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-uppercase font-weight-bold">MITRE ATT&CK</p>
                    <h5 class="font-weight-bolder">
                     <a href="https://attack.mitre.org/">MITRE</a>
                    </h5>
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape bg-gradient-primary shadow-primary text-center rounded-circle">
                    <i class="ni ni-money-coins text-lg opacity-10" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-uppercase font-weight-bold">Cybersecurity HUB</p>
                    <h5 class="font-weight-bolder">
                      <a href="https://www.cshub.com/">NEWS</a>
                    </h5>
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape bg-gradient-danger shadow-danger text-center rounded-circle">
                    <i class="ni ni-world text-lg opacity-10" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-uppercase font-weight-bold">Shodan.io</p>
                    <h5 class="font-weight-bolder">
                      <a href=" https://www.shodan.io/">SHODAN</a>
                    </h5>
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape bg-gradient-success shadow-success text-center rounded-circle">
                    <i class="ni ni-paper-diploma text-lg opacity-10" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-uppercase font-weight-bold">Github</p>
                    <h5 class="font-weight-bolder">
                      <a href="https://github.com/shyhotboy01/osinator">Github Project</a>
                    </h5>
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape bg-gradient-warning shadow-warning text-center rounded-circle">
                    <i class="ni ni-cart text-lg opacity-10" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="content" style="margin-top: 120px;">

  <main class="main-content position-relative border-radius-lg ">
      <div class="content">
        <h1 style="text-align: center">OSINT Shodan</h1>
        <div class="form text-center">
            <form action="/home/tables.html" method="POST">
                <input type="text" name="content" id="content">
                <input type="submit" value="Search URL">
            </form>
            <h1 style="text-align: center">Resultados</h1>
            <table>
                <tr>
                    <th scope="col">IP</th>
                    <th scope="col">Port</th>
                </tr>
                    <tr>
                        <th scope="row">{{ ip }}</th>
                        <th scope='row'>{{ port }}</th>
                    </tr>
            </table>
        </div>
        <div class="content">
          <h1 style="text-align: center">OSINT Search</h1>
          <script async src="https://cse.google.com/cse.js?cx=66ac28771b7f24d2a">
          </script>
          <div class="gcse-search"></div>

      {% include "includes/footer.html" %}

    </div>

  </main>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}
